<a href="https://colab.research.google.com/github/Zogar89/HenryCBI/blob/main/M1%20C1%3A%20Estad%C3%ADstica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*texto en cursiva*## Homework

In [6]:
import numpy as np

1. Considera el siguiente arreglo que contiene la altura de un grupo de estudiantes de Henry y calcula:

- Media
- Mediana
- Moda
- Varianza
- Desvío estándar

In [19]:
muestra = np.array( [[1.85, 1.8, 1.8 , 1.8],
                    [1.73,  1.7, 1.75, 1.76],
                    [ 1.65, 1.69,  1.67 ,  1.6],
                    [1.54,  1.57, 1.58, 1.59],
                    [ 1.4 , 1.42,  1.45, 1.48]])

In [21]:
#Aplano la lista
def aplanar (lista):
    listaplana=[]
    for item in lista:
      for item2 in item:
        listaplana.append(item2)
    return listaplana

listaplana=aplanar(muestra)

print(listaplana)

[1.85, 1.8, 1.8, 1.8, 1.73, 1.7, 1.75, 1.76, 1.65, 1.69, 1.67, 1.6, 1.54, 1.57, 1.58, 1.59, 1.4, 1.42, 1.45, 1.48]

In [24]:
#Media Cuento y divido 2

def media(lista):
  cantidad=len(lista)
  suma = sum(lista)
  return suma/cantidad

print(media(listaplana))

1.6415

In [32]:
#Mediana Ordeno. Si es impar el del medio si es par calculo la diferencia
def Mediana (lista):
  lista.sort()
  largolista = len(lista)
  mitad= largolista//2
  if es_par(largolista):
    return lista[mitad]
  else:
    return lista[mitad]

def es_par(n):
    if n % 2 == 0:
        return Tru
    else:
        return False

print(Mediana(listaplana))

1.67

2. Convierte el arreglo en una lista y realiza un histograma de 5 intervalos. ¿Tiene distribución normal?

3. Utilizando pandas describe el dataframe.

4. Con los siguientes datos construye un df y un array que permitan describir adecuadamente la muestra.<br>
'Ingreso en miles' : 10.5	6.8	20.7	18.2	8.6	25.8	22.2	5.9	7.6	11.8 <br>
'Años de estudio': 17	18	21	16	16	21	16	14	18	18<br>

5. Realiza un histograma de 6 secciones para 'Ingreso en miles' y 'Años de estudio'.

6. Cálcula la media de 'Ingreso en miles' (df) utilizando pandas.

7. Calcula la media de 'Ingreso en miles' (array) utilizando numpy.

8. Agrega los siguientes valores extremos al df [ 50, 35 ], [ 120, 30 ]. ¿En cuánto varió la media? ¿Qué conclusiones obtienes de este resultado sobre la media?